
<div id="product_list">
    <h1>All Products</h1>
    <%= search_form_for @q do |f| %>
       <b> <%= f.label 'SEARCH FOR' %> </b>
        <%= f.search_field :title_cont %>
        <%= f.submit %>
    <% end %>

    <table>
    <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <%= image_tag(product.image_url, :class => 'list_image') %>
            </td> 
  
            <td class="list_title">
                <dl>
                    <dt><%= product.title %></dt>
                    <dt>
                        <p>
                        Price: 
                        <%= product.price %>
                        </p>
                    </dt>
                </dl>
            </td>
           
            <td class="list_actions">
                <%= link_to 'Show', product %><br/>
                <%= link_to 'Edit', edit_product_path(product) %><br/>
                <%= link_to 'Destroy', product,data: { confirm: 'Are you sure?' },:method => :delete %>
            </td>
        </tr>
    <% end %>
    </table>
</div>
 
<br />
 
<%= link_to 'New product', new_product_path %>