<p id="notice"><%= notice %></p>
<h1> Category: <%= @product.category.category %></h1>
<big> 
<b>
  <%= @product.title%>
</b>
</big>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong> Available Properties: <%= @product.product_properties.count %> </strong>

 <% @product.product_properties.each do |property| %>
</p>
  
    <%= property.version %>
    <%= property.imageproduct_url %>
    <%= property.in_stock %>
<p>
<% end %>

</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>